
.create-center {
  position: fixed;
  top: 70px;
  right: 20px;
}

.login-form {
  width: 100%!important;
  padding: 0 20%;
} 

.ant-modal-footer {
  display: none;
} 

.ant-card-meta-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.require {
  margin-right: 8px;
}