ul {
    list-style: none;
    padding: 0;
}

.back-up {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #fff;
    color: #001529;
    text-align: center;
    font-size: 30px;
  }

  .classify-title {
      padding-bottom: 5px;
      border-bottom: 1px solid #f7f7f7;
  }

  .classify {
      li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 15px;
      }
  }

  .anticon-folder-open {
    margin-right: 5px;
  }

  .ant-btn-primary {
      background: #001529;
      border-color: #001529;
  }

  .create-center {
      position: fixed;
      top: 70px;
      right: 20px;
  }

  .ant-btn{
    &:hover {
        color: #fff;
        border-color: #001529;
        background: #001529;
    }
  }

  .ant-btn-primary:focus {
    color: #fff;
    background: #001529;
    border-color: #001529;
}

.number {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
        flex: 1;
        border-top: 1px solid #eeeeee;
        padding: 5px;
        &:first-of-type {
            border-right: 1px solid #eeeeee;
        }
        &:nth-child(2) {
            border-right: 1px solid #eeeeee;
        }
    }
}

.type-style {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.list-text {
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}