.blog-detail {
    background: #ffffff;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-radius: 2px;
    .blog-title {
        font-size: 36px;

    }
    .publish {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .context {
            display: flex;
            flex-direction: row;
            .avatar-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
                border: 2px solid #ffffff;
            }
        }
        .reply {
            position: absolute;
            bottom: 15px;
            right: 15px;
            cursor: pointer;
            font-size: 20px;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}