.form-wrapper {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
    padding: 80px 0 0;
    overflow: hidden;
    z-index: 1;
    background-color: #ffffff;
    text-align: left;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px;
}