.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -250px;
    width: 500px;
    padding: 80px 0 0;
    overflow: hidden;
    z-index: 1;
    background-color: #ffffff;
    text-align: left;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px;
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: #001529;
    border-color: #001529;
  }
}