.timeline-clock-icon {
  font-size: 16px;
}

.timeline-wrapper {
  .header {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    .title {
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.ant-divider-horizontal {
  margin: 10px 0;
}

.create-center {
  position: fixed;
  top: 70px;
  right: 20px;
}
