.title {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15px;
}

.comment-wrapper {
    padding: 10px;
    color: #ffffff;
    .message {
        border-radius: 5px;
        padding: 15px 15px 5px;
        margin: 10px 0;
        // background: #001529;
        // opacity: 0.8;
        background: rgba(0, 0, 0, 0.8);
        .publish {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            .context {
                display: flex;
                flex-direction: row;
                .avatar-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                    border: 2px solid #ffffff;
                }
            }
            .reply {
                position: absolute;
                bottom: 15px;
                right: 15px;
                cursor: pointer;
                font-size: 20px;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .comment {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            margin-left: 50px;
            border: 1px dotted #cccccc;
            border-radius: 5px;
            padding: 10px 10px 0;
            margin-bottom: 5px;
            .context {
                display: flex;
                flex-direction: row;
                .avatar-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                    border: 2px solid #ffffff;
                }
            }
        }
    }

    .paging {
        float: right;
        margin-bottom: 15px;
    }
}


.ant-divider {
    border-top: 1px solid rgba(251, 251, 251, 0.3);
}

.ant-pagination-item-active {
    background: #001529;
    border-color: #001529;
    &:hover {
        border-color: #001529!important;
        a {
            color: #ffffff;
        }
    }
    &:focus {
        border-color: #001529;
        a {
            color: #ffffff;
        }
    }
    a {
        color: #ffffff;
    }
}

.loading-box {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}